
<body class='<%= controller.controller_name %>'>
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4 shop-color">Novitition</h1>
      <div class="list-group">
        <a href="#" class="list-group-item">Matches</a>
        <a href="#" class="list-group-item">See competitions</a>
        <a href="#" class="list-group-item">See your predictions</a>
      </div>
    </div>
    <!-- /.col-lg-3 -->
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</body>
