<% tab "predictions" %>

<div class="tennis_field_image">
  
  <div class="row pb-5 pt-4">
    <div class="col d-flex justify-content-center">
      <div class="container">
        <%= render "table", predictions: @won_predictions, title: "Won predictions" %>
        <%= render "table", predictions: @lost_predictions, title: "Lost predictions" %>
        <div class="col-md-12 text-center pt-3">
          <!-- <%= link_to "claim prediction prize", new_prediction_path, class: "btn btn-secondary", data: { turbolinks: false } %> -->
        </div>
      </div>
    </div>

  </div>
</div>


