<% tab "sports" %>
<div class="container-fluid">
  <h1>Sports</h1>
  <% @sports.each do |sport| %>
    <div class="card mb-4" style="background-color: #C5AA6A;">
      <div class="row no-gutters">
        <div class="col-auto">
          <% if sport.image.attached? %>
            <%= image_tag url_for(sport.image), alt: "#{sport.name}", size: "250" %>
          <% else %> 
            <%= image_tag "default_sport", alt: "#{sport.name}", size: "250" %>
          <% end %>
        </div>
        <div class="col">
          <div class="card-block px-2">
            <h4 class="card-title"><%= sport.name %></h4>
            <p class="card-text"><%= sport.description %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

