<% tab "competitions" %>

<div class="tennis_field_image">
  
  <div class="row pb-5 pt-4">
    <div class="col d-flex justify-content-center">
      <div class="container">
        <%= render "table", competitions: @competitions %>
        <div class="col-md-12 text-center pt-3">
          <%= link_to "Add competition", new_competition_path, class: "btn btn-secondary", data: { turbolinks: false } %>
        </div>
      </div>
    </div>

  </div>
</div>


