<% tab "games" %>
<div class="tennis_field_image">
  <h1 class="text-center pt-3">Games</h1>

  <div class="row top-buffer pb-5">
    <div class="col d-flex justify-content-center">
      <div class="container">
        <%= render "games/table", games: @todays_games, title: "Todays games", show_competition: true %>
      </div>
    </div>
  </div>

  <div class="row top-buffer pb-5">
    <div class="col d-flex justify-content-center">
      <div class="container">
        <%= render "games/table", games: @upcoming_games, title: "Upcoming games", show_competition: true %>
      </div>
    </div>
  </div>

  <div class="row top-buffer pb-5">
    <div class="col d-flex justify-content-center">
      <div class="container">
        <%= render "games/table", games: @past_games, title: "Past games", show_competition: true %>
      </div>
    </div>
  </div>
</div>
