/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-table/bootstrap-table
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";
 @import "bootstrap-table/dist/bootstrap-table.css";

 a.nav-link {
  text-decoration:none;
}
.page {
  padding: 0;
  line-height: 4.4vh;
  overflow: hidden;
}

.soccer_field_image {
  color: white;
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("soccer_field.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}

.basketball_field_image {
  color: white;
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("basketball_field.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}

.tennis_field_image {
  color: white;
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("tennis_field.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:  50%;
}

.hover-off {
  background-color: unset !important;
  color: unset !important;
}
